%application
  %name= app.name
  %available= app.available
  - app.actions.each do |action|
    %link(rel = "#{action[:rel]}" href = "#{action[:href]}")
  - if app.find_parameters
    %context-parameters
      - app.find_parameters.each do |param_name|
        %parameter(name = "#{param_name}" value = "#{app.find_parameter(param_name)}")
