%applications
  - @applications.each do |app|
    %application
      %name= app.name
      %path= app.path
      %available= app.available
      - unless readonly?
        - app.actions.each do |action|
          %link(rel = "#{action[:rel]}" href = "#{action[:href]}.xml")
      - if app.parameters
        %context-parameters
          - app.parameters.each do |key, value|
            %parameter(name = "#{key}" value = "#{value}")
